*,
*::after,
*::before {
  box-sizing: border-box;
} /* body {  margin: 0;} */
body {
  font-family: "Ruluko", sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 700px;
  background-color: bisque;
}
h2 {
  position: absolute;
  right: 20px;
  width: 300px;
  border: 3px solid rgb(236, 22, 22);
  padding: 10px;
  background-color: rgb(220, 232, 238);
  color: black;
}
.board {
  width: auto;
  height: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, auto);
  border: 5px solid red;
  border-radius: 300px;
  background-color: black;
}
.cell {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 1px solid white;
}
#start {
  margin: 50px;
}
#red {
  background-color: #cd1705;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 25px;
}
#blue {
  background-color: #0e24de;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 25px;
}
#green {
  background-color: #24cb24;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 25px;
}
#yellow {
  background-color: #c6d207;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 25px;
}
